    body {
      background-image: linear-gradient(rgba(5, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url("https://projectsofaiden.nl/img/pizza-pattern.png");
    }

    .message {
      height: 400px;
    }

    p {
      font-family: 'Jura';
      color: white;
      font-size: 30px;
      text-align: center;
    }

a {
  color: pink;
}