body {
  font-family: 'Jura';
  background-image: linear-gradient(rgba(5, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url("../img/pink.jpg");
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #FF8E9E; 
  border-radius: 13px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #FF8E9E; 
}

a {
  color: white
}
a:hover {
  color: #FF597B;
}
input:valid {
  width: 60%;
  border: 2px solid #11ff00;
  border-radius: 12px;
  background-color: #11ff00;
  padding: 4px 8px;
}

input:invalid {
  width: 60%;
  border: 2px solid #ff0000;
  border-radius: 12px;
  background-color: #ffffff;
  padding: 4px 8px;
}

.tijd {
  width: 60%;
  border: 2px solid white;
  border-radius: 12px;
  background-color: white;
}
#reserveren-div {
  position: absolute;
  top: 53%;
  left: 50%;
  width: 1000px;
  height: 450px;
  max-width: fit-content;
  max-height: fit-content;
  padding: 5px;
  transform: translate(-50%, -50%);
  background-color: #FF8E9E;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
  text-align: center;
  cursor: crosshair;
}

.hero-image {
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.0)), url(/img/reserveren.jpg);
    height: 670px;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: pink;
    background-color: #FF597B;
    font-family: 'Luckiest Guy';font-size: 22px;
  }

.hero-titel{
  font-family: 'Luckiest Guy';font-size: 22px;
  color: white;
}

footer {
  text-align: center;
}

#noscript {
  color: red;
  font-family: 'Luckiest Guy';font-size: 22px;
}

#submitBtn {
  border: none;
  color: #FF597B;
  background-color: white;
  width: 150px;
  padding: 8px 10px;
  text-decoration: none;
  border-radius: 10px;
  font-family: 'Luckiest Guy';
  font-size: 10px;
}

/* Navigation style */

ul {
  list-style-type: none;
  margin: fixed;
  padding: 0;
  overflow: hidden;
  background-color: #FF8E9E;
  color: white;
  position: fo;
  width: 100%;
  height: 50px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  font-family: 'Jura';
}


li a:hover {
  background-color: white;
  color: #FF8E9E;
  
}

.column {
  float: left;
  width: 50%;
}

.column2 {
  float: right;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#tekst2 {
  visibility: hidden;
}

@media only screen and (min-width: 1268px) {
    #tekst2 {
      visibility: visible;
    }
}

#btnBoekTafel {
    background-color: #FF597B;
}
